# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.venv/


# static files
static/ Book_Image/*
static/ Profile_Image/*
!static/videos/.gitkeep

# Database 
instance/
*.bookstore.db

# IDE files
.vscode/    
.idea/

# Migrations
migrations/

# seed.py
seed.py